/* <!-- ========================--- media query for mobile devices ---======================= --> */
@media only screen and (max-width:576px){
/* <!-- ========================--- header section ---======================= --> */
    nav, nav ul{
        flex-direction: column;
    }
    .logo, nav ul li{
        margin: .5rem 0;
    }

/* <!-- ========================--- banner section ---======================= --> */
    .home-content{
        flex-direction: column-reverse;
    }
    .home-info-text{
        padding: 4rem 2rem 1rem 2rem;
    }
    .btn-group{
        flex-direction: column;
    }

/* <!-- ========================--- we are gamer section ---======================= --> */
    #We-r-gamer{
        grid-template-columns: repeat(1, 1fr);
    }
    .gamer-info{
        text-align: left;
    }

/* <!-- ========================--- online games section ---======================= --> */
    .cards-are{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 2rem;
    }

/* <!-- ========================--- play instant section ---======================= --> */
    #Play-instantly{
        grid-template-columns: repeat(1, 1fr);
    }
    .img-1{
        height: 16rem;
        width: 15rem;
        position: absolute;
        top: 0;
        right: 0;
    }
    .img-2{
        height: 9rem;
        width: 8rem;
        position: absolute;
        top: 9rem;
        left: 1.5rem;
    }
    .play-banner{
        position: relative;
        height: 18.5rem;
        width: 100%;
        margin-top: 1.5rem;
    }

    /* <!-- ========================--- our all games category section ---======================= --> */
    .games-are{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

/* <!-- ========================--- footer section ---======================= --> */
    footer .list1, .footer-social-icons{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    footer .list2{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }    
}


/* <!-- ========================--- media query for tablet devices ---======================= --> */
@media only screen and (min-width:576px) and (max-width:992px){
    /* <!-- ========================--- banner section ---======================= --> */
    .home-content{
        flex-direction: column-reverse;
    }

    /* <!-- ========================--- online games section ---======================= --> */
    .cards-are{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }

    /* <!-- ========================--- play instant section ---======================= --> */
    #Play-instantly{
        grid-template-columns: repeat(1, 1fr);
    }
    .img-1{
        height: 16rem;
        width: 15rem;
        position: absolute;
        top: 0;
        right: 8rem;
    }
    .img-2{
        height: 9rem;
        width: 8rem;
        position: absolute;
        top: 9rem;
        left: 11rem;
    }
    .play-banner{
        position: relative;
        height: 18.5rem;
        width: 100%;
        margin-top: 1.5rem;
    }

/* <!-- ========================--- our all games category section ---======================= --> */
    .games-are{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}


/* <!-- ========================--- media query for Desktop/larger devices ---======================= --> */
/* <!-- ========================--- our all games category section ---======================= --> */
@media only screen and (min-width:1286px) and (max-width:3500px){
    .games-are{
        display: grid;
        grid-template-columns: repeat(5, 1fr);
    }    
}